.foodwrapper{
    height: 100%;
    width: 100%;
    background: yellow;
    
    
}
.foodmenu{
    background-image: url(../images/white-wood-pattern-texture-free-vector.jpg);
    height: 470px;
    width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 110px;
    margin-top: 8px;
    overflow: hidden;
    border: solid black;
    border-radius: 5%;
}

.foodtitle{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: -30px;
    float: center;
    margin-left: 30px;
}

.foodcatagory{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    margin: 0px;
    color: black;
    font-size: 60%;
    float: center;
    margin-bottom: 1px;
    
    margin-left: 30px;
}
.foodimage{
    margin: -10px;
    height: 150px;
    margin-left: 30px;
}

.destriptioncontainer{
    background-color: transparent;
    height: fit-content;
    width: 100%;
    margin: 0px;
    float: left;
}
.foodprice{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    margin: 0px;
    margin-bottom: -20px;
    margin-left: 30px;
}

.fooddescription{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    margin: 0px;
}